@import "bootstrap/scss/bootstrap.scss";

.emoji {
  font-family: 'Noto Color Emoji', sans-serif;
}

$yellow: #FFD933;
$red: #FC4442;

main {
  padding-top: calc(1.5rem + 97px);
}

@media print {
  main {
    padding-top: calc(1.5rem);
  }
}

.yellow {
  color: $yellow;
}

.red {
  color: $red;
}

.navbar {
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
}

hr {
  border: 1px solid #8785854a;
}

@include color-mode(dark) {
  .navbar {
    --bs-navbar-color: white;
    --bs-navbar-hover-color: #FFD933;
    --bs-navbar-active-color: #FFD933;
  }

  .resume {
    #full-name {
      color: white;
    }
    h2 {
      color: #fc4442;
    }

    .subtitle {
      color: #FFD933;
    }
  }
}

@include color-mode(light) {
  .navbar {
    --bs-navbar-color: #B22222;
  }

  .resume {
    h2 {
      color: #040084;
    }

    .subtitle {
      color: #1874D2;
    }
  }
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    margin-right: 10px;
  }

  .stars {
    display: flex;
    direction: rtl; /* Right-to-left for correct star selection */
    user-select: none;
  }

  .stars > input {
    display: none;
  }

  .stars > label {
    color: #555;
    padding: 0 5px;
    &:before {
      content: "☆";
    }
  }

  .stars > input:checked ~ label:before {
    content: "★";
    color: #FFD700;
  }
}