@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.scss";

.dropdown-menu {
  margin: 0 !important;
}

.carousel {
  margin-bottom: 1.5rem;
}

@media (min-width: 1200px) {
  .carousel-item img {
    max-height: 200px;
  }

  .carousel-item {
    min-height: 200px;
  }
}

.table-dark {
  --bs-table-bg: #0D1321;
  --bs-table-border-color: #0D1321;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th,
tbody tr.table-active td,
tbody tr.table-active th {
  background: #3E5C76;
  color: white !important;
  cursor: pointer;
}